{
	debug
	admin 0.0.0.0:2020
}

# Fail-over load balancer
# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#load-balancing
# https://github.com/caddyserver/caddy/issues/4245
:9091 {
	reverse_proxy :9090 :8080 {
		header_up Host open-vsx.org

		lb_policy first
		lb_try_duration 10s
		lb_try_interval 500ms

		fail_duration 30s
		max_fails 1
		unhealthy_status 5xx
		unhealthy_latency 10s
	}
}
